    <div class="col-sm-9">
      <div class="well">
        {{this.locationTitle}}
        {{this.address}}
        
    </div>

    <div class="row">
        <div class="col-sm-12">


        {{#each}}
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {{#each}}
                <img id="cr0" src={{this.locationImg}} alt="Image">
                {{this.imageTitle}}
            {{/each}}
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>

          <!-- Indicators -->
          <ol class="carousel-indicators">
            {{#each}}
                <li data-target="#myCarousel" data-slide-to="{{this.id}}" {{#ifEquals this.id 1}} class="active" {{/ifEquals}}></li>
            {{/each}}
            <span id="number"> </span> 
          </ol>
        </div> <!-- Carousel -->
    {{/each}}
    <br>  
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4 id={{this.comment}} class="commentId"> Comment: </h4> 
            <h4 id={{this.description}}> Description: </h4>
            <h4 id={{this.rating}}> Rating: </h4>
            <h4 id={{this.attractions}}> Attractions: </h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4 id={{this.difficulty}} class="difficultyId"> Difficulty: </h4> 
            <h4 id={{this.class}}> Class: </h4> 
            <h4 class={{this.rapids}}> Rapids: </h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4 id={{this.rental}} class="rentalId"> Rental: </h4> 
            <h4 id={{this.price}}> Price: </h4> 
          </div>
        </div>
      </div>
    </div>