<!-- this is where an individual location will appear -->
<div class="row-info col-sm-9">

 <div class="row-location col-sm-6">
    <div class="well1">

        <h2 id="data-title"><strong> LOCATION NAME: <span id="{{this.name}}">  </span></strong></h2>
        <h3 id="data-address"><strong><span id="{{this.googleId}} {{this.street}} {{this.city}} {{this.state}} {{this.zip}}" >ADDRESS:  </span></strong> </h3>
    </div> 

    <div class="row-location-image">
        <img googleId="{{this.googleId}}" src="{{this.imageUrl}}" alt="Image" >
    </div>

    <div class="row-info">

        <ul>
            <li><strong> Comments: <span id= "{{this.comments}}"> </span></strong></li>
            <li><strong> Difficulty Level: <span id= "{{this.difficulty}}"class="difficultyId"> </span></strong></li>
            <li><strong> Rental: <span id="{{this.rental}}" class="rentalId"> </span></strong></li>
        </ul>
    </div>
</div>

<div class="row-location-comment col-sm-6">
<div class="panel-body">
    {{#each comments}}
        {{this.location}} {{this.googleId}} {{name}}

    <form class="action='/location/2'" method="POST">
        <h3> Give us your Feedback!</h3>
        <div class="form-group">
            <label for="name"> PERSON NAME: </label>
            <input type="text" class="form-control" required placeholder="Name of a person" id="{{this.authorId}}" required>
        </div>

        <div class="form-group">
            <label for="comments"> COMMENTS: </label>
            <textarea type="text" class="form-control" required placeholder="Comments on the location" row="5" id="{{this.comment}}" class="commentId" required></textarea>
        </div>

        <div class="form-group">
            <label for=""> RATING: </label>
            <select id="dropDownList" type="text" class="form-control" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                id="{{this.rental}}" required>Select an Option<span></span>
                    <option value="1">Best place to visit!</option>
                    <option value="2">Good place!</option>
                    <option value="3">Average</option>
                    <option value="4">Not bad to spend time!</option>
                    <option value="5">Don't waste your time!</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary btn-lg"> Submit </button>
            <button type="clear" id="clear" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-trash"></span> Clear </button>
        </div>
    </form>
    {{/each}}
</div>
</div>