<!-- This is where the carousel will appear -->

//todo: handlebars need to be figured out for this part!!

<!--<div class="well1">
    <h3 id="data-title"><strong> LOCATION NAME: 
<span id={{this.locationTitle}}>  </span></strong></h3>
    <h4 id="data-address"><strong>ADDRESS: <span id={{this.address}}> </span></strong> </h4>
</div>-->

<div class="row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Indicators -->
            <ol class="carousel-indicators">

            {{#each locations}}
                
                <li data-target="#myCarousel" data-slide-to="{{@index}}" {{#if @first}} 
                class="active" 
                {{/if}}></li>
       
            {{/each}}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                 
                {{#each locations}}
                    <div class="item {{#if @first}} active{{/if}}">
                        <img id="cr{{@index}}" src={{this.locationImg}} alt="Image" data-location-id={{this.locationId}}>{{this.imageTitle}}
                  
                    </div>
                {{/each}}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!-- todo: determine what we're doing here -->
<!--<div class="row">
    <div class="col-sm-4">
        <div class="well1">
        {{#each}}
            <h4 id={{this.comment}} class="commentId"> Comment: </h4>
            <h4 id={{this.description}}> Description: </h4>
            <h4 id={{this.rating}}> Rating: </h4>
            <h4 id={{this.attractions}}> Attractions: </h4>
        {{/each}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well1">
        {{#each}}
            <h4 id={{this.difficulty}} class="difficultyId"> Difficulty: </h4>
            <h4 id={{this.class}}> Class: </h4>
            <h4 id={{this.rapids}}> Rapids: </h4>
        {{/each}}

        </div>
    </div>
    <div class="col-sm-4">
        <div class="well1">
        {{#each}}
            <h4 id={{this.rental}} class="rentalId"> Rental: </h4>
            <h4 id={{this.price}}> Price: </h4>
        {{/each}}        
        </div>
    </div>
</div>-->