<<<<<<< HEAD
<h1>RESULTS</h1>

  <ul>{{#each locations}}

    <li>{{name}} <button id="location" value="{{id}}">{{name}}</button></li>

  {{/each}}</ul>
=======
<ul>
{{#each locations }}
  <li>{{id}} - {{name}} - {{state}}</li>
{{/each}}
</ul>
>>>>>>> 87cc65c6bcea5bbb2ea12f4352983a2b2f2c7052
